.owl-nav,
.owl-dots {
  display: none;
}

.fade {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background: none;
  border: 0;
}
@media screen and (max-width: 991px) {
  .modal-content #service-description {
    max-height: 400px;
    overflow: auto;
  }
}
.modal-content .modal-body {
  gap: 24px;
}
.modal-content .modal-body .col-lg-7 {
  margin-top: 1.5rem;
}
.modal-content .modal-body .col-lg-7 .cbtn {
  font-size: 1rem !important;
  margin-bottom: 1.5rem;
}
.modal-content .modal-body .col-lg-7 .cbtn p {
  color: #444 !important;
}
.modal-content .modal-body img {
  border-radius: 1.5rem;
  width: 100%;
  max-width: 300px;
}
.modal-content .row .modal-item {
  color: #fff;
  background: #222;
  height: 100%;
  padding: 2rem;
  border-radius: 1.5rem;
}
.modal-content .row .modal-item .input-group input {
  box-shadow: none !important;
}
.modal-content .row .modal-item .input-group input::-moz-placeholder {
  color: gray;
}
.modal-content .row .modal-item .input-group input::placeholder {
  color: gray;
}
.modal-content .row .modal-item .input-group * {
  border: 0;
  background: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.modal-content .row .modal-form {
  display: inline-block;
}

.cbtn,
button {
  cursor: pointer;
  border-radius: 1.875rem;
  background: #faff00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem 3.19rem;
  text-decoration: none;
  color: #000;
  border: 0;
  display: inline-block;
}

.cbtn.small {
  padding: 0.38rem 2rem;
}

header {
  padding: 2.5em 2rem;
  position: absolute;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav .nav-toggle-btn {
  display: none;
  color: #fff;
  cursor: pointer;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav ul li {
  margin-right: 15px;
}
@media screen and (max-width: 840px) {
  nav ul {
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: block;
    border-radius: 0 0 30px 30px;
    background: #faff00;
    padding: 0;
  }
  nav ul.hide {
    transform: translate(0, -100%);
  }
  nav ul li {
    text-align: center;
    padding: 10px;
  }
  nav ul li * {
    color: #000 !important;
  }
  nav .nav-toggle-btn {
    display: block;
  }
}

.preview {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0), transparent), linear-gradient(transparent, rgb(0, 0, 0)), url("../assets/gallery/0.jpg") no-repeat center center;
  background-size: cover;
}
.preview .layout {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  min-height: 600px;
  width: 100%;
}
.preview .layout .title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}
.preview .layout .title .asyncText {
  height: 129px;
}

.layout .about .gallery {
  max-width: 600px;
}
.layout .about .gallery .owl-stage-outer {
  border-radius: 0.625rem;
}
.layout .about .gallery .owl-gav {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.layout .about .gallery .owl-gav .customPrevBtn,
.layout .about .gallery .owl-gav .customNextBtn {
  cursor: pointer;
}
.layout .advantages h2 {
  text-align: center;
}
.layout .advantages .advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: stretch;
}
@media screen and (max-width: 1062px) {
  .layout .advantages .advantages-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 721px) {
  .layout .advantages .advantages-list {
    grid-template-columns: 1fr;
  }
}
.layout .advantages .advantages-list-item {
  max-width: 100%;
  background: #222;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 1.5rem;
  overflow: hidden;
}
.layout .advantages .advantages-list-item .metre {
  background: #faff00;
  display: block;
  border-radius: 0.5rem;
  padding: 5px 10px;
  margin-top: 1rem;
  width: -moz-max-content;
  width: max-content;
  color: #000;
}
.layout .advantages .advantages-list-item h3 {
  padding: 1.37em;
  letter-spacing: 2px;
  margin: 0;
}
.layout .advantages .advantages-list-item ul {
  padding: 1.44em;
  font-size: 0.9em;
  font-style: normal;
  margin: 0;
  font-weight: 100;
  line-height: normal;
}
.layout .advantages .advantages-list-item ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.875rem;
}
.layout .advantages .advantages-list-item ul li img {
  margin-right: 10px;
}
.layout .price {
  /* .owl-stage::before {
    content: "";
    position: absolute;
    width: 90%;
    top: calc(50% - 4px);
    height: 4px;
    background: #ccc;
  } */
}
.layout .price .owl-stage-outer {
  overflow: visible;
}
.layout .price .owl-carousel {
  margin-bottom: 2rem;
}
.layout .price-card {
  width: 219.2px;
  padding: 1.5rem;
  background: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
}
.layout .price-card h5 {
  margin: 0;
}
.layout .price-card p {
  color: #777;
}
.layout .price-card.active {
  background: #faff00;
}
.layout .price-card.active p {
  color: #333;
}
.layout .price-card.one {
  background: #222;
}
.layout .price-card.one * {
  color: #fff;
}
.layout .price-card.one p {
  color: #ccc;
}
@media screen and (max-width: 1200px) {
  .layout .trainers h2 {
    text-align: center;
  }
}
.layout .trainers .owl-carousel-trainers {
  display: none;
}
@media screen and (max-width: 910px) {
  .layout .trainers h2 {
    text-align: left;
  }
  .layout .trainers .owl-carousel-trainers {
    display: block;
  }
  .layout .trainers .trainers-list {
    display: none;
  }
}
.layout .trainers-list {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 1200px) {
  .layout .trainers-list {
    grid-template-columns: auto auto auto;
  }
}
.layout .trainers-list-item {
  cursor: pointer;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.12rem;
  border: 1px solid #000;
  background: #222;
  padding: 1.38em 1.12em;
  align-items: center;
  color: #fff;
}
.layout .trainers-list-item img {
  border-radius: 1.25rem;
  max-width: 13.875rem;
  pointer-events: none;
}
.layout .trainers .owl-stage-outer {
  overflow: visible;
}
.layout .trainers .owl-trainers-list {
  width: -moz-max-content !important;
  width: max-content !important;
}
.layout .individual .circle-gradient {
  position: relative;
}
.layout .individual .circle-gradient::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 0, transparent 50%, #000 75%);
}
.layout .individual img {
  width: 100%;
}
.layout .contacts {
  margin-bottom: 10rem;
  border-radius: 20px;
  overflow: hidden;
}

img {
  pointer-events: none;
}

.discount {
  background: #e83b3b !important;
  color: #fff !important;
}
.discount * {
  color: #fff !important;
}
.discount p {
  color: #eee !important;
}/*# sourceMappingURL=components.css.map */