.accordion {
  background: none;
  &-item {
    border-radius: 0.8rem !important;
    transition: all 0.3s ease;
    background: #fff;
    color: #444;
    letter-spacing: 3px;
    padding: 1rem 2rem;
    border: 0;
    cursor: pointer;
    margin-bottom: 1rem;
    ul {
      margin: 0;
      padding: 0;
    }
    &.show {
      background: #fff;
      color: #444;
    }
    &.collapsed {
      background: #222;
      color: #fff;
    }
    .accordion-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
